#quizPage {
  .background{
    background-color: beige;

  }
  .txtCenter {
    //margin: 1em;
    text-align: center;
    background-color: beige;
    padding: 1em;
    margin-top: -0.5em
  }
  .alignImgText {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
    //margin: 1em;
  }
  .alignBtnImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em
  }

  .imgQuiz{
    margin-top:0.5em;
    margin-left: 1em;
  }
  .txtQuiz{
    margin-left: 1em;
    text-align: center;
  }

  #textdist{
    max-width: 15em
  }
  .btnReload{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    color:white;
    margin-left: 1em;
    ion-icon{
      vertical-align: middle;

    }
  }
}
