<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Quiz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="quizPage">
    <ion-buttons class="background" >
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <div class="txtCenter">
        <p>Testez vos connaissances géographiques et culturels avec notre quiz de gélocalisation en retrouvant où se
            situent les sites cuturels et naturels</p>
        <p>Après une partie de 5 tours, vous découvrirez votre score</p>
    </div>
    <img src="../../assets/imgHome/patrimoine-mondial-unesco.jpg" alt="">
    <ion-button color="secondary" expand="full" (click)="playGame()">
        <ion-icon style="margin:0.5em" name="game-controller-outline"></ion-icon>
        JOUER
    </ion-button>

    <div class="alignImgText">
        <div class="imgQuiz">
            <img *ngIf="selectedImg" id="randomImg"
                 src="https://whc.unesco.org/uploads/sites/{{selectedImg.fields.image_url.filename}}"
                 alt="image quiz">
        </div>
        <div class="txtQuiz">
            <p id="textdist" *ngIf="dist">Nom : {{selectedImg.fields.site}} <br>Localisation : {{selectedImg.fields.states}}. <br>Vous êtes {{dist}} km trop loin...</p>
        </div>
    </div>

    <div class="alignBtnImg" *ngIf="selectedImg">
        <button class="btnReload" (click)="randomImage()">
            <ion-icon name="reload-outline"></ion-icon>
        </button>
        <p *ngIf="selectedImg && round<6">tour : {{round}}/5</p>
    </div>

    <ion-button expand="full" color="warning" id="btnMap" *ngIf="selectedImg" (click)="loadMap()"><ion-icon name="locate-outline" style="margin:0.5em"></ion-icon>Afficher la carte</ion-button>
    <div id="quizMap" style="width:100%; height:50%;"></div>
    <ion-button  expand="full" *ngIf="marker" (click)="calculDistance()">REPONSE</ion-button>

</ion-content>
