<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sites Culturels</ion-title>
    </ion-toolbar>
</ion-header>
<ion-toolbar color="primary">
    <ion-searchbar placeholder="Rechercher par région..." (ionChange)="searchByRegion($event)"></ion-searchbar>
</ion-toolbar>

<ion-content>
    <ion-buttons>
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-list>
        <ion-item *ngFor="let item of results" (click)="goToDetails(item.recordid)">
            <ion-thumbnail slot="start">
                <img src="https://whc.unesco.org/uploads/sites/{{item.fields.image_url.filename}}"/>
            </ion-thumbnail>
            <ion-label>
                <p><ion-icon name="locate"></ion-icon> {{item.fields.region}}</p>
                <p> <ion-icon name="heart-outline"></ion-icon> {{item.fields.site}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
