#contentStyle{
   .locationBtn{
    background-color: transparent;
    color:var(--ion-color-danger);
  }
  h5, span{
    margin:1em;
  }
  p{
    text-align: justify;
  }
  .question{
    font-weight: bold;
    color:var(--ion-color-primary);
  }
  hr{
    border:1px solid var(--ion-color-success);
  }

  .linkBtn{
    text-align: center;
    .likeBtn{
      background-color: transparent;
      color:yellowgreen;
    }
  }
}


