<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> {{information?.records[0].fields.site}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="contentStyle">
    <ion-buttons>
        <ion-back-button *ngIf="information && information.records[0].fields.category=== 'Cultural'"
                         defaultHref="/cultural-sites"></ion-back-button>
        <ion-back-button *ngIf="information && information.records[0].fields.category=== 'Natural'"
                         defaultHref="/natural-sites"></ion-back-button>
    </ion-buttons>

    <ion-card *ngIf="information">
        <ion-item class="headerCard">
            <ion-avatar item-start>
                <img src="https://whc.unesco.org/uploads/sites/{{information.records[0].fields.image_url.filename}}">
            </ion-avatar>
            <h5>{{information?.records[0].fields.site}}</h5>
            <button class="locationBtn" (click)="openModal()">
                <ion-icon name="location-sharp" size="large"></ion-icon>
            </button>
        </ion-item>

        <img src="https://whc.unesco.org/uploads/sites/{{information.records[0].fields.image_url.filename}}">

        <ion-card-content>
            <p>Catégorie de site : {{information.records[0].fields.category}}</p>
            <p>Date inscription UNESCO : {{information.records[0].fields.date_inscribed}}</p>
            <p>Localisation : {{information.records[0].fields.location}}</p>
            <p>Pays : {{information.records[0].fields.states}}</p>
            <p>Continent : {{information.records[0].fields.region}}</p>
            <hr/>
            <p *ngIf="information.records[0].fields.justification" class="question">
                Pourquoi ce site est-il classé au patrimoine de l'Unesco ?
            </p>
            <p>{{information.records[0].fields.justification}}</p>
            <hr *ngIf="information.records[0].fields.justification"/>
            <p class="question">En détails</p>
            <p>{{information.records[0].fields.short_description}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col class="linkBtn">
                <button class="likeBtn">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col class="linkBtn">
                <button class="likeBtn">
                    <ion-icon name="text" style="font-size:18px"></ion-icon>
                    <div>4 Commentaires</div>
                </button>
            </ion-col>
            <!--            <ion-col align-self-center text-center>-->
            <!--                <ion-note>-->
            <!--                    11h ago-->
            <!--                </ion-note>-->
            <!--            </ion-col>-->
        </ion-row>

    </ion-card>

    <ion-button expand="full" [routerLink]="['/', 'my-map']" color="danger">
        <ion-icon name="map" color="light"></ion-icon>
        accéder à la carte
    </ion-button>


    <div>
        <app-quiz-banner></app-quiz-banner>
    </div>
</ion-content>
