#contentStyle{

  ion-avatar{
    min-width: 2em;
    height: auto;
  }
  .headerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between ! important;
  }
   .locationBtn{
    background-color: transparent;
    color:var(--ion-color-secondary);
  }
  .imgDetails{
    text-align: center;
    margin: 1em;
  }
  h5, span{
    margin:1em;
  }
  p{
    text-align: justify;
  }
  .question{
    font-weight: bold;
    color:var(--ion-color-primary);
  }
  hr{
    border:1px solid var(--ion-color-secondary);
  }

  .linkBtn{
    text-align: center;
    .likeBtn{
      background-color: transparent;
      color:yellowgreen;
    }
  }
}


